.header__lang-item {
  display: inline-block;
  margin-top: 18px;
  margin-right: 13px;
}

.header__lang-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 460px) {
  .header__lang-item {
    margin-top: 14px;
  }
}
