.header__lang-link {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  transition: opacity ease .5s;
  margin: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 460px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
