.page {
  background-color: #2a2c2f;
  padding: 28px 48px 24px;
}

@media screen and (max-width: 767px) {
  .page {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 16px 16px 24px;
  }
}
