.photo-grid__list {
  max-width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
}

@media screen and (max-width: 460px) {
  .photo-grid__list {
    gap: 12px;
  }
}
