.photo-grid {
  padding: 92px 48px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 460px) {
  .photo-grid {
    padding: 64px 16px;
  }
}
