@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/inter/regular.woff2) format('woff2'),
       url(../../fonts/inter/regular.woff) format('woff'),
       url(../../fonts/inter/regular.eot) format('eot');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/inter/bold.woff2) format('woff2'),
       url(../../fonts/inter/bold.woff) format('woff'),
       url(../../fonts/inter/bold.eot) format('eot');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(../../fonts/inter/black.woff2) format('woff2'),
       url(../../fonts/inter/black.woff) format('woff'),
       url(../../fonts/inter/black.eot) format('eot');
}

.inter {
  font-family: 'Inter', sans-serif;
}
