.cover__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 460px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    /*Smaller than the size specified in the layout to match the appearance */
    max-width: 248px;
  }
}
