.lead__figure {
  margin: 64px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 460px) {
  .lead__figure {
    margin: 40px 0 0;
  }
}
