.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 695px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 460px) {
  .footer {
    max-width: 186px;
    padding-left: 16px;
    padding-right: 0;
  }
}
