.footer__list-item + .footer__list-item {
  margin-left: 18px;
}

@media screen and (max-width: 680px) {
  .footer__list-item + .footer__list-item {
    margin-left: 0;
    margin-top: 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer__list-item + .footer__list-item {
    margin-top: 32px;
  }
}
